<div class="features">
		
	<h2>MAIN <span class="green">FEATURES</span></h2>
			
	<br />
	<hr />
		
	<div class="container-fluid">
		<div class="row">
				
			<div class="col-md-4">
				<!-- Features item -->
				<div class="f-item">
					<h2>
						<span class="green"><i class="fa fa-dollar"></i></span>
						<br>
						3 Months Free Trial
					</h2>
					<p>Try for 3 months risk free &amp; all its features included, no setup fees, no contracts to worry about.</p>
				</div>
			</div>
			<div class="col-md-4">
				<!-- Features item -->
				<div class="f-item">
					<h2>
						<span class="green"><i class="fa fa-arrows"></i></span>
						<br>
						All in one place
					</h2>
					<p>Manage everything in one convinient place. All communications are designed focusing clarity, transparency and traceability.</p>
				</div>
			</div>
			<div class="col-md-4">
				<!-- Features item -->
				<div class="f-item">
					<h2>
						<span class="green"><i class="fa fa-tablet"></i></span>
						<br>
						Fully Responsive
					</h2>
					<p>All Components work great on Desktops, Laptops, Tablets and Smart Phones.</p>
				</div>
			</div>
					
		</div>
		<div class="row">
				
			<div class="col-md-4">
				<!-- Features item -->
				<div class="f-item">
					<h2>
						<span class="green"><i class="fa fa-plus"></i></span>
						<br>
						12+ Components
					</h2>
					<p>Twelve + individual components make sure you manage the properties based on best practices and industry experience.</p>
				</div>
			</div>
			<div class="col-md-4">
				<!-- Features item -->
				<div class="f-item">
					<h2>
						<span class="green"><i class="fa fa-check"></i></span>
						<br>
						Easy to Use
					</h2>
					<p>Application is built as self-service easy to use web-application, </p>
				</div>
			</div>
			<div class="col-md-4">
				<!-- Features item -->
				<div class="f-item">
					<h2>
						<span class="green"><i class="fa fa-lock"></i></span>
						<br>
						Security
					</h2>
					<p>All designs are crafted by talented engineers with security in view. all texts including username/passwords  between Client/Server are encypted</p>
				</div>
			</div>
					
		</div>
	</div>
		
	<hr />
</div>
