<!-- Header -->
<header>
	<h1>
		<a href="/">
			<i class="fa fa-step-forward"></i>
			<br>
			Manage Property
		</a>
	</h1><!-- <i>&infin;</i> -->
	<p>Everything you need to kick start <span>more than 12 components</span> that makes Managing Real Estate Properties <span>Faster &amp; Easier</span></p>
	<!--	<h2>370+ UI Components</h2> -->
</header>
