<!-- UI # -->
<div class="contact">
	<h2>
		Pricing 
		<span class="green">
			Plans
		</span>
	</h2>
</div>
<hr>
<div class="header2">
	<div class="ui-151">		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-sm-4">					
					<!-- Item -->
					<div class="ui-item">
						<!-- Heading -->
						<h2>3 Months Trial</h2>
						<h3>$00/Month</h3>
						<!-- Unordered list -->
						<ul class="list-unstyled">
							<li>All features included</li>
							<li>No setup fees</li>
							<li>No contract</li>
							<li>No credit card required</li>
							<li></li>
							<li></li>
						</ul>
						<!-- Button -->
						<a href="/users/sign_up" class="btn">Sign up</a>
					</div>					
				</div>
				<div class="col-md-4 col-sm-4">					
					<!-- Item -->
					<div class="ui-item">
						<!-- Star -->
						<div class="star">
							<i class="fa fa-star"></i>
						</div>
						<!-- Heading -->
						<h2>Individual Plan</h2>
						<h3>$29/Month</h3>
						<!-- Unordered list -->
						<ul class="list-unstyled">
							<li>1 Property</li>
							<li>Upto 49 units</li>
							<li>Additional units<br>$0.50/unit/month</li>
							<li>No contract</li>
							<li>No setup fee</li>
						</ul>
						<!-- Button -->
						<a href="/users/sign_up" class="btn">Sign up</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">					
					<!-- Item -->
					<div class="ui-item">
						<!-- Heading -->
						<h2>Corporate Plan</h2>
						<h3>$29/Month*</h3>
						<!-- Unordered list -->
						<ul class="list-unstyled">
							<li>$29/Month/Property</li>
							<li>Plus $0.30/month/unit</li>
							<li>Unlimited units/Property</li>
							<li>Unlimited Properties</li>
							<li></li>
							<li></li>
						</ul>
						<!-- Button -->
						<a href="/users/sign_up" class="btn">Sign up</a>
					</div>					
				</div>
			</div>
		</div>		
	</div>	
</div>
